body {
    background-image: url('../img/bg.png');
}

.dropdown-item:hover {
    background-color: #32425a;;
}

.car-card {
    height: 350px;
}

.car-image {
    height: 250px;
}

.copyright {
    padding-right: 1%;
    color: #999999;
}

.car-image{
    max-height: 175px;
    width: auto;
}

.subhead {
    font-size: 30px;
    font-weight: 400;
}

@media(max-width: 768px) {
    .subhead {
        display: block;
    }
}

#averages tr td, #averages tr th{
    width:100px;
}

.bold-label {
    font-weight: bold;
    font-size: 18px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon i {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon i { left:  0px;}
.right-addon i { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.about {
    font-size: 18px;
}

.bg-primary-trans {
    background-color: rgba(0, 143, 100, 0.8);
}

.bg-dark-trans {
    background-color: rgba(21, 26, 34, 0.8);
}